body {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

#card {
    margin-top: 2rem;
    align-self: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 1rem;
    width: 80vw;
}

#card > ul > li:first-child {
    font-size: 1.2rem;
    list-style-type: none;
    font-weight: bold;
}

#card > ul > li {
    line-height: 2rem;
}